.main{

}
.updatePhotoButton input{
    position: absolute;
    opacity: 0;
    height: 320px;
    width: 320px;
    cursor: pointer;
}
.updatePhotoButton input:hover {
    background: #8a8a8a;
    opacity: 0.5;
}
.profile{
    display: flex;
}
.profile img{
    border-radius: 5px;
}
.profileImg img{
    display: inline-table;
    border-radius: 100%;
}
.profileInfo{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
.profileStatus{
    display: block;
    margin: 5px 0 15px 0;
}
.infoBar{
    margin-left: 20px;
}
