.photoUser img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
}
.selected{
    font-weight: bold;
}
.pages{
    cursor: pointer;
}
.user{
    margin: 0 0 20px;
    display: flex;
}
.info{
    display: block;
    margin-left: 20px;
}
.button{
    display: block;
}
.name{
    display: block;
}
