.nav {
    display: flex;
    background-color: #429a95;
    grid-area: n;
    margin-right: 5px;
    height: 350px;
    border-radius: 5px;

}
.nav .refs {
    display: inline-block;
    width: 100%;
    margin: 10px 10px 0 10px;

}

.refs a{
    color: #eee0d2;
    text-decoration: none;
    margin-top: 100px;

}.refs a:hover{
     color: #ffffff;

 }
.refs a.active{
    color: white;
    font-weight: bold;
}

.nav .refs div{
    margin-bottom: 7px;
}